<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<body>
<!--/*  declare parameterized fragment called "list" */-->
<div th:fragment="list(category,com)">

  <div th:if="${category.getTop == true}" th:class="(${category.getTop}) ? 'top'">

    <span th:text="${category.getPosition() + '  ' + category.getName()}"></span>

    <a th:if="${category.id != cid}" th:href="@{/MoveCategory(categoryid=${cid}, destid=${category.id})}">Sposta qui</a>

  </div>


  <ul th:unless="${category.getSubClasses().isEmpty() == true}" class="subpart">

    <li th:each="child : ${category.getSubClasses()}">

      <div th:if="${child.id != cid && com == 0}">
        <span th:text="${child.getPosition() + '  ' + child.getName()}"></span>
        <a th:href="@{/MoveCategory(categoryid=${cid}, destid=${child.getId()})}">Sposta qui</a>
        <ul th:replace="this::list (${child},0)"></ul>
      </div>

      <div th:if="${child.id == cid || com == 1}">
        <span th:text="${child.getPosition() + '  ' + child.getName()}"></span>
        <ul th:replace="this::list (${child},1)"></ul>
      </div>

      <!--/* "this" indicates that the fragment to be used is in this file */-->
      <!--/* the product parameter to use in the fragment is the current child */-->
    </li>

  </ul>

</div>

</body>
</html>